* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* INPUT CUSTOMIZATION */

.big-label {
  font-size: 35px !important;
  font-weight: 800;
  text-transform: uppercase;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.712) !important
}

input,
input::placeholder {
  padding-top: 25px !important;
}

/* label color */
.input-field input[type='text'] + label {
  color: #fff !important;
  font-weight: 600;
}

/* label color */
.input-field input[type='password'] + label {
  color: #fff !important;
  font-weight: 600;
}

/* label color */
.input-field input[type='email'] + label {
  color: #fff !important;
  font-weight: 600;
}

/* to get ride of the yellow color in chrome*/
input[type]:-webkit-autofill,
input[type]:-webkit-autofill:hover,
input[type]:-webkit-autofill:focus,
input[type]:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
  -webkit-box-shadow: inset 0 0 0 500px transparent;
}

.input-field
  > input[type]:-webkit-autofill:not(.browser-default):not([type='search'])
  + label,
.input-field > input[type='date']:not(.browser-default) + label,
.input-field > input[type='time']:not(.browser-default) + label {
  font-weight: 700;
  font-size: 15px;
}

/* Materialize fix labels overlapping */
input[type]:-webkit-autofill + label {
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

/* fix clicking label does not activate text input */
.input-field label {
  pointer-events: all;
}

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* HERO SECTION */

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.collapsible {
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-message {
  color: #fff;
  min-width: 100%;
  min-height: 12em;
  position: relative;
}

.tutorial-title,
.tutorial-description {
  color: #fff;
}

.collapsible-body {
  background-color: #fff;
}

#next-button,
#prev-button {
  background-color: #fff;
}

#breadcrumb-list {
  color: #fff !important;
}

.hero-title,
.hero-sub-title {
  width: 100%;
  display: block;
  text-align: center;
}

.hero-title {
  margin: 3% 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 1000;
}

.brand-logo {
  margin-left: 25px;
  font-weight: 700;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
}

/* TABLE STYLING */

table,
tr td {
}
tbody {
  display: block;
  height: 500px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: calc(100% - 1em);
}

#form-artist-strong {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

#dash {
  font-weight: 1000;
  color: #fff;
}

#form-genre-span {
  color: #fff;
}

#form-song-span {
  color: #fff;
}

.text-white {
  color: #fff;
}

.fix-offset {
  margin-left: 10px;
}

#submit_button {
  color: #fff;
  background-color: rgb(31, 31, 31);
  font-weight: 700;
  margin-left: 10px;
}

.form-container {
  padding: 125px 0 125px 0;
}

.form-container button {
  margin-left: 10px;
}

.input-field input[type='search'] {
  height: 55px !important;
}

.nav-wrapper,
.page-footer {
  background: rgb(31, 31, 31) !important;
}

/* html { margin-left: calc(100vw - 100%); } */

nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper {
  background: inherit;
}

.my-grey {
  background: #f7f7f7;
}

.pagination {
  padding-bottom: 35px;
  padding-top: 35px;
}

.tutorial-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
}

.tutorial-description {
  margin-bottom: 35px;
}

input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  border-radius: 5px;
  height: 36px;
  padding: 8px 8px 8px 60px;
  width: 200px;
  background: #f7f7f7;
  transition: background 0.2s, width 0.2s;
}

#search-form {
  margin-right: 25px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.54);
}

nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}

p {
  font-size: 1.3rem;
}

.top-margin {
  margin-top: 8px;
}

/* COLLAPSIBLE */
.collapsible-header,
.collapsible-body,
.collapsible,
ul.collapsible > li {
  background: none !important;
  margin: 0 0 5px 0 !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.no-shadows {
  box-shadow: none !important;
}

.badge {
  background-color: #ee6e73 !important;
}

.right-margin {
  margin-right: 10px;
}
