* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

input,
input::placeholder {
  color: #fff;
}

/* label color */
.input-field input[type='text'] + label {
  color: #fff !important;
  font-weight: 600;
}

/* label color */
.input-field input[type='password'] + label {
  color: #fff !important;
  font-weight: 600;
}

/* label color */
.input-field input[type='email'] + label {
  color: #fff !important;
  font-weight: 600;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.collapsible {
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-message {
  color: #fff;
  min-width: 100%;
  min-height: 12em;
  position: relative;
}

.tutorial-title,
.tutorial-description {
  color: #fff;
}

.collapsible-body {
  background-color: #fff;
}

#next-button,
#prev-button {
  background-color: #fff;
}

#breadcrumb-list {
  color: #fff !important;
}

.hero-title,
.hero-sub-title {
  width: 100%;
  display: block;
  text-align: center;
}

.hero-title {
  margin: 3% 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 1000;
}

.brand-logo {
  margin-left: 25px;
  font-weight: 700;
}

/* to get ride of the yellow color in chrome*/
input[type]:-webkit-autofill,
input[type]:-webkit-autofill:hover,
input[type]:-webkit-autofill:focus,
input[type]:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
  -webkit-box-shadow: inset 0 0 0 500px transparent;
}

.input-field
  > input[type]:-webkit-autofill:not(.browser-default):not([type='search'])
  + label,
.input-field > input[type='date']:not(.browser-default) + label,
.input-field > input[type='time']:not(.browser-default) + label {
  font-weight: 700;
  font-size: 15px;
}

/* Materialize fix labels overlapping */
input[type]:-webkit-autofill + label {
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

/* fix clicking label does not activate text input */
.input-field label {
  pointer-events: all;
}

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
}

table,
tr td {
}
tbody {
  display: block;
  height: 500px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: calc(100% - 1em);
}

#form-artist-strong {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

#dash {
  font-weight: 1000;
  color: #fff;
}

#form-genre-span {
  color: #fff;
}

#form-song-span {
  color: #fff;
}

.text-white {
  color: #fff;
}

#submit_button {
  color: #fff;
  background-color: rgb(31, 31, 31);
  font-weight: 700;
  margin-left: 10px;
}

.form-container {
  padding: 125px 0 125px 0;
}

.form-container button {
  margin-left: 10px;
}

.input-field input[type='search'] {
  height: 55px !important;
}

.nav-wrapper,
.page-footer {
  background: rgb(31, 31, 31) !important;
}

/* html { margin-left: calc(100vw - 100%); } */

nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper {
  background: inherit;
}

.search-close-icon {
  display: none !important;
  position: absolute;
  top: 0;
  left: 100% !important;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  transition: color 0.2s;
  cursor: pointer;
}

.my-grey {
  background: #f7f7f7;
}

.pagination {
  padding-bottom: 35px;
  padding-top: 35px;
}

.tutorial-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
}

.tutorial-description {
  margin-bottom: 35px;
}

input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  border-radius: 5px;
  height: 36px;
  padding: 8px 8px 8px 60px;
  width: 200px;
  background: #f7f7f7;
  transition: background 0.2s, width 0.2s;
}

#search-form {
  margin-right: 25px;
}

input.search-field:hover {
  background: #ebebeb;
}
.searchbox {
  position: relative;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.54);
}
input.search-field:focus {
  outline: none;
  width: 500px;
  color: #212121;
}
input.search-field:focus:hover {
  background: #f7f7f7;
}
.search-icon {
  position: absolute;
  top: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.search-content {
  color: #303c42;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}
.search-heading {
  color: #757575;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
input.search-field ~ .search-popup {
  overflow: hidden;
  left: 0px;
  min-height: 50px;
  max-height: 700px;
  width: 200px;
  top: -450px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.2s, top 0.2s ease-in-out;
  border-radius: 2px;
  background-color: #fff;
}
input.search-field:focus ~ .search-popup {
  width: 500px;
  top: 50px;
}
nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}

p {
  font-size: 1.3rem;
}

.top-margin {
  margin-top: 8px;
}

@media only screen and (max-width: 600px) {
  nav form {
    /*     left: calc(90vw - 100%); */
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparent;
  }

  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 100vw;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  .search-content {
    width: 100%;
    padding: 8px 8px;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
}
