{% extends 'base.html' %}
{% block content %}
<div class="hero flex-center"
    style="background-image:url({{ url_for('static', filename='img/orange-background.jpg') }}); background-size: cover;">
    <div class="container">
        <div class="row">
            <form class="col s12" action="{{ url_for('insert_song') }}" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Artists name" id="form_artist" name="form_artist" type="text"
                            class="validate" required>
                        <label for="form_artist">Artist</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Song name" id="form_song" name="form_song" type="text" class="validate" required>
                        <label for="form_song">Song</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter genre" id="form_genre" name="form_genre" type="text" class="validate" required>
                        <label for="form_genre">Genre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Spotify / Youtube link" id="form_link" name="form_link" type="text"
                            class="validate" required>
                        <label for="form_link">Song Link</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" id="submit_button" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Showcasing that we are on this page by changing the color of the respective button in the navbar on pageload
    document.getElementById("music-library").style.color = "white";
    document.getElementById("music-add").style.color = "orange";
</script>
{% endblock %}