{% extends 'base.html' %}
{% block content %}
<div class="hero flex-center"
    style="background-image:url(https://i.ibb.co/hYbZLz1/white-earphones-beside-orange-music-player.jpg); background-size: cover;">
    <div class="hero-message">
        <h1 class="hero-title">Share your songs!</h1>
        <h2 class="hero-sub-title"><a href="{{ url_for('tutorial') }}" class="waves-effect waves-light btn-large"
                id="submit_button">How to get started</a></a>
        </h2>
    </div>
</div>
{% endblock %}