{% extends 'base.html' %}
{% block content %}
<div class="hero flex-center"
    style="background-image:url({{ url_for('static', filename='img/orange-background.jpg') }}); background-size: cover;">
    <div class="container">
        <div class="responsive-table table-status-sheet">
            <table class="bordered" id="library-table">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>
                            <i class="material-icons text-white">audiotrack</i>
                            <strong id="form-artist-strong">{{song.form_artist}}</strong>
                        </td>
                        <td>
                            <span id="form-song-span">{{song.form_song}}</span>
                        </td>
                        <td>
                            <span id="form-genre-span">{{song.form_genre}}</span>
                        </td>
                        <td>
                            {% if 'spotify' in song.form_link %}
                            <a target="_blank" href="{{song.form_link}}" id="form-genre-span"><img
                                    src="{{ url_for('static', filename='img/spotify-icon.png') }}"
                                    style="width: 25px; height: 25px;">Open in Spotify!</a>
                            {% elif 'youtube' in song.form_link %}
                            <a target="_blank" href="{{song.form_link}}" id="form-genre-span"><img
                                src="{{ url_for('static', filename='img/youtube-icon.png') }}"
                                style="width: 20px; height: 20px;"> Play with Youtube!</a>
                            {% else %}
                            <a target="_blank" href="{{song.form_link}}" id="form-genre-span"></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="input-field col s12">
                    <input id="filter" type="text" class="validate">
                    <label for="email">Filter by artist</label>
                    <span class="helper-text" data-error="wrong">Narrow down your list with the filter!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Showcasing that we are on this page by changing the color of the respective button in the navbar on pageload
    document.getElementById("music-add").style.color = "white";
    document.getElementById("music-library").style.color = "orange";
</script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}