{% extends 'base.html' %}
{% block content %}
<div class="hero flex-center"
    style="background-image:url({{ url_for('static', filename='img/orange-background.jpg') }}); background-size: cover;">
    <div class="container"> 
        <div class="row">
            <form class="col s12" action="{{ url_for('adduser') }}" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter username" id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" id="password" type="password" name="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" id="email" type="email" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" id="submit_button" type="submit">Register
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}