{% extends 'base.html' %}
{% block content %}
<div class="hero flex-center"
    style="background-image:url({{ url_for('static', filename='img/black-microphone.jpg') }}); background-size: cover;">
    <h1 class="center tutorial-title" id="tutorial-title">1. Add a song to the library!</h1>
    <h6 class="center tutorial-description" id="tutorial-description">By pressing this icon <i
            class="material-icons">library_add</i> It can be found in the
        navigation bar above.</h6>
    <ul class="pagination center">
        <li class="disabled" id="prev-button"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active breadcrumb-list" id="1"><a href="#!" class="white-text">1</a></li>
        <li class="waves-effect breadcrumb-list" id="2"><a href="#!" class="white-text">2</a></li>
        <li class="waves-effect breadcrumb-list" id="3"><a href="#!" class="white-text">3</a></li>
        <li class="waves-effect" id="next-button"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
<script src="{{ url_for('static', filename='js/tutorial.js') }}"></script>
{% endblock %}